<% content_for :title, "New article" %>

<h1>New article</h1>

<%= form_with(model: @article, url: articles_path, scope: :article) do |form| %>
  <%= render "form", article: @article, form: form %>
<% end %>

<br>

<div>
  <%= link_to "Back to articles", articles_path %>
</div>
