<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<h1>Posts</h1>

<div style="margin: 1rem 0;">
  <%= link_to "New post", new_post_path %>
</div>

<div>
  <% @posts_dto.each do |post_dto| %>
    <div style="border: 1px solid #aaa; padding: 1rem; margin: 1rem 0;">
      <%= render "post", post: post_dto %>
      <div>
        <%= link_to "Show this post", post_path(post_dto.id) %>
      </div>
    </div>
  <% end %>
</div>
