<% content_for :title, "New post" %>

<h1>New post</h1>

<%= form_with(model: @post_form, url: posts_path, scope: :post) do |form| %>
  <%= render "form", post: @post_form, form: form %>
<% end %>

<br>

<div>
  <%= link_to "Back to posts", posts_path %>
</div>
